name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test on ubuntu-latest
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build library
      run: dotnet pack -o .work/dist

    - name: Run tests
      run: dotnet test

    - name: Upload nuget packages
      uses: actions/upload-artifact@v4
      with:
        name: packages
        path: '.work/dist/*.nupkg'
